#content{
    display: flex;
    flex-wrap: wrap;

}
.box{
    /* grid-row-start: 1;
    grid-row-end: 2; */
    width: 280px;
    height: 280px;
    background:#E6E6E6; 
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
.title{
    display: flex;
    align-items: center;
    grid-row: 2/3;
    font-family: ChakraPetch-Regular;
    font-size: 15px;
    height: 23px;
    width: 280px;
    background-image: linear-gradient(to right, #4180F6, #F7C9F3);
    color: #FFFFFF;
    letter-spacing: 0;
}
.papa{
    display: grid;
    grid-template-rows: 1fr 1fr;
    height: 280px;
    width: 280px;
    padding: 20px;
}