.title{
    /* visibility: hidden; */
    /* grid-area: title; */
    font-family: ChakraPetch-Regular;
    font-size: 15px;
    height: 23px;
    width: 280px;
    background-image: linear-gradient(to right, #4180F6, #F7C9F3);
    color:black;
    letter-spacing: 0;
}